@import "tailwindcss";

body{
  background-color: white;
  color: #636363;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Regular.woff2') format('woff2'),
       url('/fonts/Gotham-Regular.woff') format('woff'),
       url('/fonts/Gotham-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.gotham-text {
  font-family: 'Gotham', sans-serif;
}
